.current-page-active {
  color: unset !important;
}
#header .header-nav.header-nav-links nav>ul>li.dropdown>a:before, #header .header-nav.header-nav-line nav>ul>li.dropdown>a:before {
   display: none;
}
header#header > div {
    border-bottom: 1px solid #dddddd85 !important;
}

a.toggle-title {
  border: 0 !important;
  font-weight: 500 !important;
}

.lead {
  letter-spacing: -.05em;
  font-size: 19.2px;
  font-size: 1.0rem;
}